.content {
    background-color: $white;
     @extend %section;
}

.container_header {
    width: 60%;
    text-align: center;
    margin: 15px auto;
    color: $black;
}

.container_header h1 {
    margin-bottom: 20px;
}

.container_group {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 35px;
}

.container_group h3 {
    color: $black;
    margin:10px 0 10px 0 ;
}

.left, .right {
    flex-basis: 25%;
}

.col {
    margin-bottom: 120px;
}

@media screen and (max-width:860px) {
    .container_group {
        flex-direction: column;
        align-items: center;
    }

    .col {
        text-align: center;
    }
}